api:
  dashboard: true

log:
  level: INFO
#  level: DEBUG

providers:
  file:
    filename: /etc/traefik/traefik.yaml
    watch: true
  docker:
    exposedByDefault: false
#    swarmMode: true

serversTransport:
  insecureSkipVerify: true

metrics:
  influxDB:
    address: influxdb:8086
    protocol: http
    database: influxdb

entrypoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  graphite:
    address: ":2003"
  mysql:
    address: ":3306"
  netflow:
    address: ":2055/udp"
  syslog_feed:
    address: ":5442/udp"
  syslog:
    address: ":1514"
  gelf:
    address: ":12201"
  syslog_udp:
    address: ":1514/udp"
  gelf_udp:
    address: ":12201/udp"



certificatesResolvers:
  cloudflare:
    acme:
      dnschallenge:
        provider: cloudflare
        resolvers:
        - "1.1.1.1:53"
      # When doing testing, uncomment the below line to prevent hitting LetsEncrypt limits
      caserver: https://acme-staging-v02.api.letsencrypt.org/directory
      email: info@lukemilius.com
      storage: /letsencrypt/acme.json


# http to https redirection
http:
  routers:
    http_catchall:
      entryPoints:
        - web
      middlewares:
        - https_redirect
      rule: "HostRegexp(`{any:.+}`)"
      service: noop@internal
    controller:
      entryPoints:
        - websecure
      middlewares:
        - tfa_verify@file
      rule: "Host(`controller.lukemilius.com`)"
      tls: {}
      service: controller
    octopi:
      entryPoints:
      - websecure
      middlewares:
      - tfa_verify@file
      rule: "Host(`octopi.lukemilius.com`)"
      tls: {}
      service: octopi
    pihole:
      entryPoints:
      - websecure
      middlewares:
      - tfa_verify@file
      rule: "Host(`pihole.lukemilius.com`)"
      tls: {}
      service: pihole
    homeassistant:
      entryPoints:
      - websecure
      middlewares:
      - tfa_verify@file
      rule: "Host(`ha.lukemilius.com`)"
      tls: {}
      service: homeassistant

  services:
    controller:
      loadBalancer:
        servers:
        - url: "https://unifi.milius.home:8443"
    octopi:
      loadBalancer:
        servers:
        - url: "http://octopi.milius.home"
    pihole:
      loadBalancer:
        servers:
        - url: "http://pihole.milius.home"
    homeassistant:
      loadBalancer:
        servers:
        - url: "http://homeassistant.milius.home:8123"

  middlewares:
    https_redirect:
      redirectScheme:
        scheme: https
        permanent: true
    tfa_verify:
      forwardAuth:
        address: "http://forward-auth:4181"
        trustForwardHeader: true
        authResponseHeaders: 
        - X-Forwarded-User
    internal_only:
      ipWhiteList:
        sourceRange:
          - "10.0.0.0/8"
          - "172.16.0.0/12"
